.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #fdfbf7;
  color: #2c3e50;
}

@media (max-width: 700px) {
  .main-content {
    margin-top: 0;
  }
}
