.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin-left: 0;
  margin-top: 70px; /* Height of the top navbar approx */
  padding: 40px;
  width: 100%;
  background-color: #fdfbf7;
  color: #2c3e50;
  padding-bottom: 80px; /* Space for footer */
  box-sizing: border-box;
  flex: 1;
}
