:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2c3e50;
  background-color: #fdfbf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #8e44ad;
  font-family: "Cinzel", serif;
}

h2,
h3 {
  color: #2c3e50;
}

a {
  font-weight: 500;
  color: #3498db;
  text-decoration: inherit;
}
a:hover {
  color: #2980b9;
}
